*
*::before
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

::-moz-selection {
  background-color: #F69062;
  color: #ffffff; }

::selection {
  background-color: #F69062;
  color: #ffffff; }

html {
  font-size: 62.5%; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #4E5865;
  padding: 0rem;
  box-sizing: border-box; }

.heading-primary {
  font-family: "Open Sans";
  color: #4E5865;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: .25rem;
    animation: moveInleft 2s ease-in-out; }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .25rem;
    margin-bottom: 8rem;
    animation: moveInright 2s ease-in-out; }

.heading-secondary {
  font-family: "Open Sans";
  backface-visibility: hidden; }
  .heading-secondary--main {
    font-size: 4rem;
    font-weight: 300;
    display: block;
    letter-spacing: 2px;
    max-width: 114rem;
    margin: 0 auto; }
    .heading-secondary--main-white {
      color: #fff; }
    .heading-secondary--main-trout {
      color: #4E5865; }
  .heading-secondary--sub {
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    display: inline-block;
    color: #4E5865;
    letter-spacing: .5px;
    max-width: 64rem;
    margin: 0 auto; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }
  .heading-tertiary--left {
    text-align: left; }

.heading-quaternary {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #fff; }

.paragraph {
  font-size: 1.6rem;
  text-align: center; }
  .paragraph__left {
    text-align: left; }
  .paragraph:not(:last-child) {
    margin-bottom: 1rem; }
  .paragraph--white {
    color: #fff; }
  .paragraph--light {
    color: #ADB5BD; }

.contact-info__item {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none; }

.text-white {
  color: #fff; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.2rem; }

.breaker-bar {
  border-bottom: solid 0.25rem #F69062;
  width: 6.4rem;
  margin: 0 auto; }
  .breaker-bar--hit-grey {
    border-bottom: solid 0.25rem #ADB5BD;
    width: 6.4rem;
    margin: 0 auto; }

.button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.6rem 4rem;
  display: inline-block;
  border-radius: .4rem;
  transition: all .2s;
  position: relative;
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: .25rem;
  font-size: 1.2rem; }

.button:hover {
  background-color: #FF9768;
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.button:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.button--sandy-brown {
  background-color: #F69062;
  color: #fff; }
  .button--sandy-brown::after {
    background-color: #E17747; }

.section-cta1 {
  height: 80vh;
  background-image: url(../images/cta__block1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-cta1__text-box {
    text-align: center; }

.section-cta2 {
  height: 95vh;
  background-image: url(../images/cta__block2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-cta2__text-box {
    text-align: center; }

.footer {
  padding: 3rem 0 5rem 0;
  background-color: #4E5865;
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer__container {
    max-width: 88rem; }
    .footer__container--heading-quaternary {
      flex: 0 1 100%; }
    .footer__container--contact-info {
      display: flex;
      flex-wrap: wrap;
      max-width: 114rem; }
      .footer__container--contact-info .footer-column {
        padding: 4rem 0rem 1rem 0rem;
        text-align: center;
        width: 33.33%; }
        .footer__container--contact-info .footer-column a:first-child {
          display: block;
          padding-bottom: 2rem; }
    .footer__container--social-info {
      display: flex;
      flex-wrap: wrap;
      max-width: 64rem; }
      .footer__container--social-info .socal-info__item {
        padding: 2rem; }
    .footer__container--sub-info {
      padding-top: 4rem; }

.section-icon {
  text-align: center; }

.navigation {
  background-color: #fff;
  width: 100vw;
  padding: .8rem 2.4rem;
  position: fixed;
  clear: both;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  z-index: 10; }
  .navigation__logo {
    font-family: "Open Sans";
    font-weight: 400;
    color: #4E5865;
    letter-spacing: .5rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none; }
  .navigation__login:link, .navigation__login:visited {
    font-family: "Open Sans";
    font-weight: 600;
    color: #ADB5BD;
    letter-spacing: .25rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none; }
  .navigation__login:hover {
    color: #4E5865; }
    .navigation__login:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .navigation__login:active {
    color: #E17747; }
  .navigation__login--sandy-brown {
    background-color: #F69062;
    color: #fff; }
    .navigation__login--sandy-brown::after {
      background-color: #E17747; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navigation__container {
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  align-items: center; }
  .navigation__container .left {
    flex-grow: 10;
    padding-top: 1rem;
    padding-left: 1rem; }
  .navigation__container .right {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 4rem; }

.header {
  height: 95vh;
  background: url(../images/hero-header.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-features {
  padding: 10rem 0 10rem 0;
  background-image: linear-gradient(to right bottom, #fff, #EEEFF1);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

.section-about {
  padding: 10rem 0 10rem 0;
  background-image: linear-gradient(to top, #4E5865, #6FA8C6);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-bottom: 0.25px solid #D7D7DB; }

.section-how-it-works {
  padding: 10rem 0 10rem 0;
  background-image: linear-gradient(to right top, #fff, #EEEFF1);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-bottom: 0.25px solid #D7D7DB; }

.section-privacy {
  padding: 10rem 0 15rem 0;
  background: url(../images/image__privacy.png) no-repeat left top;
  background-size: 100rem;
  background-color: #4E5865; }
