// COLORS
$trout: #4E5865;
$trout-light: #606C7C;
$trout-dark: #363E47;

$glacier: #6FA8C6;
$glacier-light: #7AB9DB;
$glacier-dark: #5C8CA5;

$sandy-brown: #F69062;
$sandy-brown-light: #FF9768;
$sandy-brown-dark: #E17747;

$athens-grey: #EEEFF1;
$mischka-grey: #D7D7DB;
$hit-grey: #ADB5BD;

$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 114rem;
$grid-width-m: 88rem;
$grid-width-s: 64rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT SIZES
$default-font-size: 1.6rem;