.footer {
    padding: 3rem 0 5rem 0;
    background-color: $trout;
    //background-size: cover;
    //background-attachment: fixed;
    //background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    

    &__container {
        max-width: $grid-width-m;

        &--heading-quaternary {
            flex: 0 1 100%;
        }

        &--contact-info {
            display: flex;
            flex-wrap: wrap;
            max-width: $grid-width;

            .footer-column {
                padding: 4rem 0rem 1rem 0rem;
                text-align: center;
                width: 33.33%;
                
                a:first-child {
                    display: block;
                    padding-bottom: 2rem;
                }
            }
        
        }

        &--social-info {
            display: flex;
            flex-wrap: wrap;
            max-width: $grid-width-s;
            
            .socal-info__item {
                padding: 2rem;
            }
            
        }

        &--sub-info {
            padding-top: 4rem;
            
        }

        &--footer-help-info {
            
        }
    }


}