.footer {
    padding: 10rem 0 20rem 0;
    background-image: linear-gradient(to right bottom, $trout, $glacier);
    background-size: cover;
    background-attachment: fixed;
	background-position: center;
    

    &__text-box {
        text-align: center;
    }
}