body {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	/* font-size: 16px; */
	line-height: 1.7;
	color: $trout;
	padding: 0rem;
	box-sizing: border-box;
}

.heading-primary {
	font-family: "Open Sans";
	color: $trout;
    backface-visibility: hidden;
    
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 300;
        letter-spacing: .25rem;
		animation: moveInleft 2s ease-in-out;
	}
	
	&--main-white {
		color: $color-white;
        display: block;
        font-size: 6rem;
        font-weight: 300;
        letter-spacing: .25rem;
		animation: moveInleft 2s ease-in-out;
    }

    &--sub {
        display: block;
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: .25rem;
        margin-bottom: 8rem;
        animation: moveInright 2s ease-in-out;
	}

	&--sub-small-white {
		color: $color-white;
		font-size: 2rem;
		font-weight: 300;
		line-height: 3rem;
		display: inline-block;
		letter-spacing: .5px;
		max-width: $grid-width-m;
		margin: 0 auto;
	}
	
}

.heading-secondary {
	font-family: "Open Sans";
	backface-visibility: hidden;

	&--main {
		font-size: 4rem;
		font-weight: 300;
		display: block;
		letter-spacing: 2px;
		max-width: $grid-width;
		margin: 0 auto;

		&-white {
			color: $color-white;
		}

		&-trout {
			color: $trout;
		}
	}

	&--sub {
		font-size: 2rem;
		font-weight: 300;
		line-height: 3rem;
		display: inline-block;
		color: $trout;
		letter-spacing: .5px;
		max-width: $grid-width-s;
		margin: 0 auto;

		&-white {
			color: $color-white;
		}
	}
    
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 400;
	text-transform: uppercase;
	text-align: center;

	&--left {
		text-align: left;
	}
}

.heading-quaternary {
    font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: $color-white;
}

.paragraph {
	font-size: $default-font-size;
	text-align: center;

	&__left {
		text-align: left;
	}

	&__left-medium {
		text-align: left;
		font-size: 2rem;
		margin: 0;
	}
    
    &:not(:last-child) {
        margin-bottom: 1rem;
	}
	
	&--white {
		color: $color-white;
	}

	&--light {
		color: $hit-grey;
	}

}

.contact-info__item {
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: $color-white;
	text-decoration: none;
}

.text-white {
	color: $color-white;
}

.heading-faq-question {
	font-family: "Open Sans";
	backface-visibility: hidden;

	&--main {
		font-size: 2.5rem;
		font-weight: 400;
		display: block;
		letter-spacing: 1,5px;
		max-width: $grid-width;
		margin: 0 auto;

		&-white {
			color: $color-white;
		}

		&-trout {
			color: $trout;
		}
	}
}

.faq-sub-nav {
    font-size: 1.25rem;
    font-weight: 400;
	text-transform: uppercase;
	text-align: left;
	width: $grid-width;
	margin: 0 auto;

	.column {


		a {
			display: block;
			font-size: 1.5rem;
			font-weight: 400;
			letter-spacing: .5px;
			line-height: 4rem;
			color: $glacier;
			text-decoration: none;
			text-transform: none;
			transition: 0.2s;
			border-bottom: none $sandy-brown;

			&:hover {

				color: $trout;
				border-bottom: solid .25px $sandy-brown;
				transition: 0.2s;
				transform: translateY(-.4rem);

	


			}

		}

	}
}