.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.2rem;
}

.breaker-bar {
    border-bottom: solid .25rem $sandy-brown;
    width: 6.4rem;

    &--center {
        margin: 0 auto;
    }
}

//HASH TAG LINK POSITION CORRECTION
h2::before { 
  display: block; 
  content: " "; 
  margin-top: -100px; 
  height: 100px; 
  visibility: hidden; 
  pointer-events: none;
}