.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.2rem;
}

.breaker-bar {
    border-bottom: solid .25rem $sandy-brown;
    width: 6.4rem;
    margin: 0 auto;
}