.section-faq-sub-nav {
    padding: 4rem 0;
    border-bottom: solid 4px $athens-grey;
}

.section-faq {
    padding: 1rem 0 5rem 0;
    

    //background-size: cover;
    //background-attachment: fixed;
    //background-position: center;

    .textbox {

        &--full-width {

        }

        .question-answer {
            padding: 4rem 0rem 0rem 0rem;
        }
    }
    
}